<div class=" card style">
    <div class="card text-center">
        <div class="card-header">
            BillInforation
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="table-info">
                    <tr>

                        <th>
                            Item
                        </th>
                        <th>
                            NumberOfitems
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Total
                        </th>

                    </tr>
                </thead>
                <tbody class="table-danger">
                    <tr>

                        <td>{{billDeatils.Item}}</td>
                        <td>{{billDeatils.NumberofItems}}</td>
                        <td>{{billDeatils.Amount}}</td>
                        <td>{{billDeatils.Total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>