<div style="font-family: cursive;color: brown;">
    <h3 style="color: darkblue;">{{title}}</h3>
    <p>According to the Telangana State Tourism Development Corporation, about 92.8 million and 0.318 million domestic
        and international tourists, respectively, visited the state in 2018. This tourist-friendly state has a large
        number of big and small accommodation options including budget, luxury and heritage hotels, homestays and
        resorts.</p>
    <p>Telangana region has been ruled by great dynasties such as Sathavahanas, Kakatiyas, Chalukyas, Mughals,
        Qutubshahis, Asafjahis. Kakathiyas contributions to architecture are considered most impressive while
        Sathavahanas ruled Telangana region for about 400 years right from the 2nd century B.C. to beyond the 2nd
        century A.D. Among Kakathiyas, Prataparudra, was a great ruler who ruled till A.D.1323.</p>
    <p>In Telangana, one can clearly witness the composite, pluralistic and inclusive culture and traditions. Be it
        Bathukamma, Sankranthi, Ramzan, Moharram, or Christmas, the region is a beacon of secular traditions and festive
        glory. Bathukamma is a colourful and vibrant floral festival of Telangana, celebrated by women, with flowers
        that grow exclusively in each region. The festival is the pride of Telangana’s cultural identity. Batukamma
        celebrates the inherent relationship between earth, water and man.</p>
</div>