<div class=" card style" style="text-align: center; ">
    <h2 [style.color]="iscolor?'green':''">{{name}} </h2>

    <div style="width:400px;margin:auto ;border:1px solid green;">
        <h3> NetBanking Login</h3>
        <table style="width: auto;margin: auto;">
            <tr>
                <td>
                    <span>CustomerId</span>
                </td>
                <td>
                    <input type="text" class>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Password</span>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary" type="button" value="Login">
                </td>
            </tr>
        </table>
    </div>
</div>