<div class=" card style" style="color: purple;font-family: cursive;">
    <table>
        <tr>
            <td [attr.colspan]='colspan'>
                <h3 [style.color]="iscolor?'black':''"> {{personal}}</h3>
                <p>Applicant must complete 21 years of age.
                    Applicant must less than 65 years of age.
                    Salaried or Self-employed with all documents.
                    Minimum income to apply personal loan is Rs 15,000/month.
                    We offer personal loan from Rs. 1 Lakh to 30 Laks.
                    Other Loan EMI's will lower your eligibility.
                </p>
            </td>
        </tr>
        <tr>
            <td [attr.colspan]='colspan'>
                <h3 [style.color]="iscolor?'black':''"> {{car}}</h3>
                <p>
                    If you’re looking to get into the fast lane as soon as possible, HDFC Bank has come up with a car
                    loan facility tailor-made for you. ZipDrive is an instant New Car Loan process, exclusively for HDFC
                    Bank customers.
                </p>
            </td>
        </tr>
        <tr>
            <td [attr.colspan]='colspan'>
                <h3 [style.color]="iscolor?'black':''"> {{home}}</h3>
                <p>
                    Your dream home is now within your reach with ICICI Bank Home Loans. We offer higher loan amount on
                    your income. Your home loan eligibility can be further enhanced by including income of the
                    co-applicant(s) of your Home Loan.

                    Home Loan eligibility is calculated after considering various factors including monthly income,
                    fixed monthly obligation, current age, retirement age etc. Your home loan eligibility can also be
                    considered an indicator of your home loan affordability.
                </p>
            </td>
        </tr>
    </table>
</div>