<div class="card style" style="font-family: cursive;text-align: center;color: darkolivegreen;">
    <table>
        <tr>
            <td colspan="3">
                <h3 style="color: indigo;"> About HDFC</h3>
                <p>HDFC Bank Limited is an Indian banking and financial services company, headquartered in Mumbai,
                    Maharashtra. HDFC
                    Bank is India's largest private sector bank by assets and by market capitalisation as of April 2021.
                    It is the
                    third largest company by market capitalisation on the Indian stock exchanges.</p>
            </td>
        </tr>
        <tr>
            <td>
                <img style="width: 400px;height: 200px;" [src]="imgurl" />
            </td>
            <td>
                <img [src]="imgurl2" style="width: 400px;height: 200px;" />
            </td>
            <td>
                <img [src]="imgurl3" style="width: 400px;height: 200px;" />
            </td>
        </tr>
    </table>
</div>