<div class=" card style">
    <table style="text-align:center;color: rebeccapurple ;font-family: cursive;">
        <tr>
            <td colspan="2">
                <img style="width:300px ;margin: auto;" [src]=" imgurl" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    Legal & Secretarial Department,
                    2nd Floor, Zenith House,
                    Keshavrao Khadye Marg,
                    Opp. Race Course,
                    Mahalaxmi,
                    Mumbai - 400034.


                    Shareholders' Helpdesk Timings:
                    ​​​​​​​10:30 a.m. to 3.30 p.m.
                    Between Monday to Friday (except on Bank holidays)


                    Tel No: +91-022-3976 0012 & 3976-0001
                    ​​​​​​​

                    ​​​​​​​Email: shareholder.grievances@hdfcbank.com


                </p>
            </td>
        </tr>
    </table>
</div>