<div style="color: navy;font-family: cursive; ">
    <h3 style="color: orangered;">{{title}}</h3>
    <p>Telangana is located in the southern part of India and is renowned for its natural attractions, temples, palaces,
        forts and other heritage sites. The rich cultural heritage of the state makes it one of the most visited tourist
        destinations in South India.</p>
</div>
<table style="margin:0px;padding: 0px;">
    <tr>
        <td>
            <img [src]=" imgurl2" style="width: 300px;margin: auto;">
        </td>

        <td>
            <img [src]=" imgurl4" style="width: 300px;height: 150px;">
        </td>
        <td>
            <img style="width: 300px;margin: auto;" [src]=" imgurl5">
        </td>
    </tr>
</table>