<div class=" card style">
    <div
        style="width: 500px; height: auto;border: 2px solid coral;margin-left: 350px;padding-left: 60px;background-color:aqua;">
        <h2 style="width: 400px;margin-left: 60px;color: orangered;">Signin Form</h2>
        <form [formGroup]="signinform">
            <div class="col-md-10">
                <label for="txtFrstname" class="form-label">User Name</label>
                <input type="text" class="form-control" id="txtFrstname" formControlName="username">
                <div *ngIf="username.touched&&username.invalid" class="border">
                    <div *ngIf="username.errors.required">
                        Username is Required
                    </div>
                    <div *ngIf="username.errors.minlength">
                        Please Enter Minimum 6 letters
                    </div>

                </div>
            </div>

            <div class="col-md-10">
                <label for="txtemail" class="form-label">Email</label>
                <input formControlName="email" type="text" class="form-control" id="txtemail">

                <div *ngIf="email.touched&&email.invalid" class="border">
                    <div *ngIf="email.errors.required">
                        Email is Required
                    </div>
                    <div *ngIf="email.errors.pattern">
                        Email Should Follow Pattern
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <label for="txtpassword" class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control" id="txtemail">

                <div *ngIf="password.touched&&password.invalid" class="border">
                    <div *ngIf="password.errors.required">
                        Password is Required
                    </div>
                    <div *ngIf="password.errors.ContaninSpace">
                        Password cannotContainSpace
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <label for="txtdob" class="form-label">Date of Birth</label>
                <input formControlName="dateofbirth" type="date" class="form-control" id="txtdob">
                <div *ngIf="dateofbirth.touched&&dateofbirth.invalid" class="border">
                    <div *ngIf="dateofbirth.errors.required">
                        Date of Birth Required
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <label for="txtmobile" class="form-label">Mobile Number</label>
                <input formControlName="mobile" type="text" class="form-control" id="txtmobile" />
                <div *ngIf=mobile.touched&&mobile.invalid class="border">
                    <div *ngIf=mobile.errors.pattern>
                        Enter Valid Mobilenumber
                    </div>
                    <div *ngIf=mobile.errors.required>
                        Mobilenumber is Required
                    </div>

                </div>
            </div>
            <div class="col-md-10">
                <label class="form-label">Comments</label>
                <textarea id="textarea" formControlName="textarea" class="form-control" rows="1" cols="5"></textarea>
                <div *ngIf=textarea.touched&&textarea.errors class="border">
                    <div *ngIf=textarea.errors.minlength>
                        Enter Minimum 10 Characters
                    </div>
                </div>

                <div class="col-md-10">
                    <label for="Gender">Geneder </label><br>
                    <input type="radio" value="male" id="gender" formControlName="gender" name="Gender"> Male
                    <input type="radio" value="female" id="gender" formControlName="gender" name="Gender">Female

                    <div *ngIf=gender.invalid class="border">
                        Please Select Geneder
                    </div>

                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="chktermcondition"
                        formControlName="checkbox" name="chktermcondition">

                    <label class="form-check-label" for="chktermcondition">
                        Terms and Condition
                    </label>

                    <div *ngIf=checkbox.invalid class="border">
                        Accept Terms and Conditions
                    </div>


                </div>

            </div>
            <button type="button" class="btn btn-primary btn-lg" [disabled]="!signinform.valid">
                Submit</button>
        </form>

    </div>
</div>