<table style="color:purple;font-size: medium;">
    <tr>
        <td>
            <img style="width: 600px;height: 200px;" [src]='imgurl6'>
        </td>
        <td>
            <h3>Daily Timming:Morning 8AM to 8PM</h3>
            <h4> Cover the places laknavram,ramappa </h4>
            <button type="button" class="btn btn-primary">Booknow</button>
        </td>
    </tr>
    <tr>
        <td>
            <img style="width: 600px;height: 200px;" [src]='imgurl7'>
        </td>

        <td>
            <h3>Daily Timming:Morning 8AM to 8PM</h3>
            <h4> Cover the places parnasala,papikondalu </h4>
            <button type="button" class="btn btn-primary">Booknow</button>

        </td>
    </tr>
    <tr>
        <td>
            <img style="width: 600px;height: 200px;" [src]='imgurl8'>
        </td>

        <td>
            <h3>Daily Timming:Morning 8AM to 8PM</h3>
            <h4> Cover the places nearby </h4>
            <button type="button" class="btn btn-primary">Booknow</button>

        </td>
    </tr>
</table>