<table style="color: seagreen;font-family: cursive;">
    <tr>
        <td [attr.colspan]="colspan">
            <h3 style="color: red;">{{name}}</h3>
            <p>Golconda Fort, also known as Golkonda, is a fortified citadel and an early capital city of the Qutb Shahi
                dynasty, located in Hyderabad, Telangana, India. Because of the vicinity of diamond mines, especially
                Kollur Mine, Golconda flourished as a trade centre of large diamonds, known as the Golconda Diamond</p>
        </td>
    </tr>
    <tr>
        <td [attr.colspan]="colspan">
            <h4 style="color: rgb(119, 11, 65);">{{bogatha}}</h4>
            <p>Bogatha Waterfall is a waterfall located on the Cheekupally stream, Wazeedu Mandal, Mulugu district,
                Telangana. It is located 120 kilometers from Bhadrachalam, 90 kilometers from Mulugu, 140km away from
                Warangal and 329 kilometers from Hyderabad. </p>
        </td>
    </tr>
    <tr>
        <td [attr.colspan]="colspan">
            <h4 style="color: olive;">{{ramapa}}</h4>
            <p>Ramappa Temple, also known as the Rudreshwara temple, is a UNESCO World Heritage Site located in the
                state of Telangana in southern India. It is 66 km away from Warangal, 15 km from Mulugu, 209 km from
                Hyderabad.</p>
        </td>
    </tr>
    <tr>
        <td> <img [src]=" golcondaurl"></td>

        <td> <img style="width: 400px;height:180px; " [src]="bogathaurl"></td>
        <td> <img [src]=" ramappaurl"></td>
    </tr>
</table>