<div class="card text-center">
    <div class="card-header">
        <h4 style="color: orangered;">{{ registation }}</h4>
    </div>
    <div class="card-body" style="margin-left: 430px;width:900px;">
        <div class="col-md-4">
            <label class="form-label">Tourist Name</label>
            <input type="text" class="form-control">
            <label class="form-label">Mobile number</label>
            <input type="number" class="form-control">
            <div class="col-md-12">
                <label class="form-label">location</label>
                <select class="form-select">
                    <option>Warangal</option>
                    <option>Hyderbad</option>
                    <option>Adilabad</option>
                    <option>Mulugu</option>
                </select>
                <input class="btn btn-primary" type="submit" value="Register">

            </div>