<div class=" card style">
    <div class="card text-center">
        <div class="card-header">
            UserInforation
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="table-info">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Mobile
                        </th>
                        <th>
                            Course
                        </th>
                        <th>
                            Institute
                        </th>
                        <th>
                            Location
                        </th>
                    </tr>
                </thead>
                <tbody class="table-danger">
                    <tr>
                        <td>{{userDeatils.Id}}</td>
                        <td>{{userDeatils.Name}}</td>
                        <td>{{userDeatils.Mobile}}</td>
                        <td>{{userDeatils.Course}}</td>
                        <td>{{userDeatils.Institute}}</td>
                        <td>{{userDeatils.Location}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>