<div class=" card style">
    <div class="card text-center">
        <div class="card-header">
            <h4>Cricketer Details</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name:{{cricketrerdetail.Name}}</h5>
            <p class="card-text">Born:{{cricketrerdetail.Born}}</p>
            <p class="card-text">Runs:{{cricketrerdetail.Runs}}</p>
            <p class="card-text">Matchesplayed:{{cricketrerdetail.Playingmatches}}</p>
        </div>
    </div>
</div>